body {
  color: #252525;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

select,
option {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
}

* {
  box-sizing: border-box;
}

.button__submit {
  background-color: #56e0ae;
  border-color: #56e0ae;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: inherit;
  font-weight: 700;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.button__submit:hover {
  background-color: #4bc197;
  border-color: #4bc197;
}

.button__submit--disabled {
  background-color: white;
  border-color: lightgrey;
  color: lightgrey;
  cursor: not-allowed;
}

.button__submit--disabled:hover {
  background-color: white;
  border-color: lightgrey;
}

/* HEADER */

.header {
  border-bottom: 3px solid #56e0ae;
  color: #59707b;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20% 0 20%;
}

.nav {
  height: 100%;
}

.nav__row {
  display: flex;
  margin: 10px 0 0;
  text-decoration: none;
}

.nav__list {
  padding: 0 5px;
}

.nav__link {
  color: #59707b;
  display: block;
  height: 100%;
  padding: 10px 15px;
}

.nav__link:hover,
.nav__link--active {
  background-color: #56e0ae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.authed-user {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.authed-user__name {
  margin-right: 20px;
}

.authed-user__avatar--small {
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  max-width: 550px;
  padding: 10px;
}

/* LOGIN PAGE */

.login__header {
  background-color: #f6f9f8;
  border: 1px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
}

.login__title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 5px;
}

.login__content {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.login__content__image-container {
  margin: 10px 10px 40px 10px;
  position: relative;
  width: 150px;
}

.login__content__image {
  width: 100%;
}

.login__content__title {
  color: #4bc197;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.login__content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__content_user {
  background-color: white;
  border-color: lightgrey;
  font-size: inherit;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
}

/* HOME PAGE */

.home__nav__row {
  display: flex;
  margin: 0;
}

.home__nav__list {
  flex-grow: 1;
  padding: 0;
}

.home__nav__link {
  border-top: 1px solid lightgrey;
  color: inherit;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}

.home__nav__link:hover {
  background-color: #f6f9f8;
}

.home__nav__link--left {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top-left-radius: 5px;
}

.home__nav__link--right {
  border-right: 1px solid lightgrey;
  border-top-right-radius: 5px;
}

.home__nav__link--active {
  background-color: #f6f9f8;
  color: #4bc197;
}

.questions {
  border: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.questions__list {
  margin-bottom: 10px;
}

.questions__list:last-child {
  margin: 0;
}

.questions__item {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.questions__item__user {
  background-color: #f6f9f8;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  padding: 10px 20px;
}

.questions__item__content {
  align-items: center;
  display: flex;
  padding: 10px;
}

.questions__item__content__avatar__container {
  flex-basis: 35%;
  padding: 2px 15px;
  text-align: center;
}

.questions__item__content__avatar {
  border-radius: 45px;
}

.questions__item__content__description {
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  justify-content: space-between;
  padding-left: 10px;
}

.questions__item__content__description__intro {
  font-weight: 700;
  margin-bottom: 15px;
}

.questions__item__content__text--truncated {
  color: #59707b;
  font-size: 0.9rem;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.questions__item__content__submit {
  border-color: #56e0ae;
  border-radius: 5px;
  color: #56e0ae;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  width: 100%;
}

/* QUESTION DETAILS */

.questions__item__content__answers {
  margin: 10px 0;
}

#question-details .questions__item__content__avatar__container {
  flex-basis: 25%;
  padding: 0 10px 0 0;
}

#question-details .questions__item__content__avatar {
  border-radius: 75px;
}

#question-details .questions__item__content__description {
  flex-basis: 75%;
}

#question-details .questions__item__content__description__intro {
  font-size: 1.3em;
  margin-bottom: 0;
}

.questions__item__content__answer:first-child {
  margin-bottom: 10px;
}

.questions__item__content__answered__container {
  background-color: #f6f9f8;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px 15px;
  position: relative;
  z-index: -2;
}

.questions__item__content__answered__container--selected {
  background-color: #e5f9f2;
  border: 1px solid #4bc197;
}

.questions__item__content__answered__container--selected::after {
  background-color: #d4be4b;
  border-radius: 15px;
  color: white;
  content: 'Your vote';
  font-size: x-small;
  height: 30px;
  padding-top: 3px;
  position: absolute;
  text-align: center;
  top: -15px;
  right: -15px;
  width: 30px;
  z-index: 2;
}

.questions__item__content__answered__intro {
  color: inherit;
  font-weight: 700;
  margin-bottom: 15px;
}

.questions__item__content__answered__container--selected
  .questions__item__content__answered__intro {
  color: #4bc197;
}

.questions__item__content__answered__progress-bar {
  border-radius: 5px;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-bottom: 8px;
  padding: 0 5px;
  position: relative;
  text-align: right;
}

.questions__item__content__answered__progress-bar::before {
  background-color: lightgrey;
  border-radius: 5px;
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 325px;
  z-index: -1;
}

.questions__item__content__answered__votes {
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
}
