body {
  color: #252525;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
}

p {
  margin: 0;
}

select,
option {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
}

* {
  box-sizing: border-box;
}

input {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}

input::placeholder {
  color: lightgrey;
}

.button__submit {
  background-color: #56e0ae;
  border-color: #56e0ae;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: inherit;
  font-weight: 700;
  height: 40px;
  padding: 5px;
  width: 100%;
}

.button__submit:hover {
  background-color: #4bc197;
  border-color: #4bc197;
}

.button__submit--disabled {
  background-color: white;
  border-color: lightgrey;
  color: lightgrey;
  cursor: not-allowed;
}

.button__submit--disabled:hover {
  background-color: white;
  border-color: lightgrey;
}

.container {
  margin: 0 auto;
  max-width: 550px;
  padding: 10px;
}

/* HEADER */

.header {
  border-bottom: 3px solid #56e0ae;
  color: #59707b;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20% 0 20%;
}

.nav {
  height: 100%;
}

.nav__row {
  display: flex;
  margin: 10px 0 0;
  text-decoration: none;
}

.nav__list {
  padding: 0 5px;
}

.nav__link {
  color: #59707b;
  display: block;
  height: 100%;
  padding: 10px 15px;
}

.nav__link:hover,
.nav__link--active {
  background-color: #56e0ae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.authedUser {
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.authedUser__name {
  margin-right: 20px;
}

.authedUser__avatar--small {
  border-radius: 15px;
}

/* LOGIN PAGE */

.login__header {
  background-color: #f6f9f8;
  border: 1px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
}

.login__title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 5px;
}

.login__content {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.login__image__container {
  margin: 10px 10px 40px 10px;
  position: relative;
  width: 150px;
}

.login__image {
  width: 100%;
}

.login__title {
  color: #4bc197;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__user {
  background-color: white;
  border-color: lightgrey;
  font-size: inherit;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
}

/* HOME PAGE */

.home__nav__row {
  display: flex;
  margin: 0;
}

.home__nav__list {
  flex-grow: 1;
  padding: 0;
}

.home__nav__link {
  border-top: 1px solid lightgrey;
  color: inherit;
  display: inline-block;
  padding: 10px 15px;
  text-align: center;
  width: 100%;
}

.home__nav__link:hover {
  background-color: #f6f9f8;
}

.home__nav__link--left {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top-left-radius: 5px;
}

.home__nav__link--right {
  border-right: 1px solid lightgrey;
  border-top-right-radius: 5px;
}

.home__nav__link--active {
  background-color: #f6f9f8;
  color: #4bc197;
}

.questions {
  border: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px;
}

.questions__list {
  margin-bottom: 10px;
}

.questions__list:last-child {
  margin: 0;
}

.questions__item {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.questions__item__user {
  background-color: #f6f9f8;
  border-bottom: 1px solid lightgrey;
  font-weight: 700;
  padding: 10px 20px;
}

.questions__item__content {
  align-items: center;
  display: flex;
  padding: 10px;
}

.questions__item__content__avatar__container {
  flex-basis: 35%;
  padding: 2px 15px;
  text-align: center;
}

.questions__item__content__avatar {
  border-radius: 45px;
}

.questions__item__content__description {
  border-left: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  flex-basis: 65%;
  justify-content: space-between;
  padding-left: 10px;
}

.questions__item__content__description__intro {
  font-weight: 700;
  margin-bottom: 15px;
}

.questions__item__content__text--truncated {
  color: #59707b;
  font-size: 0.9rem;
  overflow: hidden;
  padding-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 150px;
}

.questions__item__content__submit {
  border-color: #56e0ae;
  border-radius: 5px;
  color: #56e0ae;
  cursor: pointer;
  height: 30px;
  padding: 5px;
  width: 100%;
}

/* QUESTION DETAILS */

.questions__item__content__answers {
  margin: 10px 0;
}

#question-details .questions__item__content__avatar__container {
  flex-basis: 25%;
  padding: 0 10px 0 0;
}

#question-details .questions__item__content__avatar {
  border-radius: 75px;
}

#question-details .questions__item__content__description {
  flex-basis: 75%;
}

#question-details .questions__item__content__description__intro {
  font-size: 1.3em;
  margin-bottom: 0;
}

.questions__item__content__answer:first-child {
  margin-bottom: 10px;
}

.questions__item__content__answered__container {
  background-color: #f6f9f8;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin: 10px 0 0;
  padding: 10px 15px;
  position: relative;
  z-index: -2;
}

.questions__item__content__answered__container:last-child {
  margin-bottom: 0;
}

.questions__item__content__answered__container--selected {
  background-color: #e5f9f2;
  border: 1px solid #4bc197;
}

.questions__item__content__answered__container--selected::after {
  background-color: #d4be4b;
  border-radius: 15px;
  color: white;
  content: 'Your vote';
  font-size: x-small;
  height: 30px;
  padding-top: 5px;
  position: absolute;
  text-align: center;
  top: -15px;
  right: -15px;
  width: 30px;
  z-index: 2;
}

.questions__item__content__answered__intro {
  color: inherit;
  font-weight: 700;
  margin-bottom: 15px;
}

.questions__item__content__answered__container--selected
  .questions__item__content__answered__intro {
  color: #4bc197;
}

.questions__item__content__answered__progress-bar {
  border-radius: 5px;
  color: white;
  height: 30px;
  line-height: 30px;
  margin-bottom: 8px;
  padding: 0 5px;
  position: relative;
  text-align: right;
}

.questions__item__content__answered__progress-bar::before {
  background-color: lightgrey;
  border-radius: 5px;
  content: '';
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 325px;
  z-index: -1;
}

.questions__item__content__answered__votes {
  font-size: 0.9em;
  font-weight: 700;
  text-align: center;
}

/* ADD QUESTION */

.addQuestion {
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.addQuestion__title {
  border-bottom: 1px solid lightgrey;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

.addQuestion__content {
  padding: 10px;
}

.addQuestion__instruction {
  margin-bottom: 15px;
}

.addQuestion__startText {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.addQuestion__form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  justify-content: space-evenly;
}

.addQuestion__inputText {
  background-color: white;
  border-color: lightgrey;
  font-size: inherit;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
}

.addQuestion__inputText__separator {
  line-height: 2.5;
  text-align: center;
}

.addQuestion__inputText__separator span {
  display: inline-block;
  font-weight: 700;
  position: relative;
}

.addQuestion__inputText__separator span:before,
.addQuestion__inputText__separator span:after {
  border-top: 1px solid lightgrey;
  content: '';
  height: 5px;
  position: absolute;
  top: 18px;
  width: 225px;
}

.addQuestion__inputText__separator span:before {
  right: 100%;
  margin-right: 15px;
}

.addQuestion__inputText__separator span:after {
  left: 100%;
  margin-left: 15px;
}

/* LEADERBOARD */

.user {
  align-items: stretch;
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  margin-bottom: 10px;
}

.user--winner::before {
  border-right: 40px solid transparent;
  border-top: 40px solid #e9e5ec;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

.user--winner::after {
  content: '';
  height: 12px;
  left: 6px;
  position: absolute;
  top: 6px;
  width: 12px;
}
.user--gold::after {
  background: url(images/cup/gold-12px.png);
}

.user--silver::after {
  background: url(images/cup/silver-12px.png);
}

.user--bronze::after {
  background: url(images/cup/bronze-12px.png);
}

.user__avatar__container {
  flex-basis: 15%;
  margin: 10px 0;
  padding-right: 10px;
  text-align: center;
}

.user__avatar {
  border-radius: 40px;
}

.user__content {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  display: flex;
  flex-basis: 67%;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 10px;
}

.user__name {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 5px;
}

.user__questions__score {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.user__questions__score:first-of-type {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 10px;
}

.user__score {
  display: flex;
  flex-basis: 18%;
  flex-direction: column;
  padding-left: 10px;
}

.user__score__label {
  background-color: #f6f9f8;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-basis: 30%;
  padding: 10px;
  text-align: center;
}

.user__score__container {
  align-items: center;
  border: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-basis: 70%;
  justify-content: center;
}

.user__score__digit {
  background-color: #56e0ae;
  border: 1px solid #56e0ae;
  border-radius: 18px;
  color: white;
  font-size: 1.2em;
  height: 36px;
  padding: 6px;
  text-align: center;
  width: 36px;
}
