body {
  color: #252525;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  padding-left: 0;
}

p {
  margin: 0;
}

select,
option {
  -webkit-appearance: none; /* WebKit/Chromium */
  -moz-appearance: none; /* Gecko */
}

.header {
  border-bottom: 3px solid #56e0ae;
  color: #59707b;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 15px 20% 0 20%;
}

.nav__row {
  display: flex;
  margin: 10px 0;
  text-decoration: none;
}

.nav__list {
  list-style-type: none;
  padding: 0 5px;
}

.nav__link {
  color: #59707b;
  padding: 10px 15px;
}

.nav__link:hover,
.nav__link--active {
  background-color: #56e0ae;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: white;
}

.authed-user {
  align-items: center;
  display: flex;
}

.authed-user__name {
  margin-right: 20px;
}

.authed-user__avatar--small {
  border-radius: 15px;
}

.container {
  margin: 0 auto;
  max-width: 550px;
  padding: 10px;
}

.login__header {
  background-color: #f6f9f8;
  border: 1px solid lightgrey;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 10px;
  text-align: center;
}

.login__title {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 5px;
}

.login__content {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.login__content__image-container {
  margin: 10px 10px 40px 10px;
  position: relative;
  width: 100px;
}

.login__content__image {
  width: 100%;
}

.login__content__title {
  color: #4bc197;
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 10px;
}

.login__content__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login__content_user {
  background-color: white;
  border-color: lightgrey;
  height: 30px;
  margin-bottom: 10px;
  padding: 5px;
}

.login__content__submit {
  background-color: #4bc197;
  border-color: lightgrey;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: 700;
  height: 30px;
  padding: 5px;
}

.login__content__submit--disabled {
  background-color: white;
  color: lightgrey;
  cursor: not-allowed;
}
